<div>
	<div class="master">
	    <div id="MasterAxisX" class="master_axis">
	        <span class="master_axis_label g-medium">X:</span>
	        #{renderPlotParams allTypes: _allTypes /}
	    </div>
	    <div id="MasterAxisY" class="master_axis master_axis__y">
	        <span class="master_axis_label g-medium">Y:</span>
	        #{renderPlotParams allTypes: _allTypes /}
	    </div>
	    <input class="masterButton g-button" id="masterButton" type="button" value="Build" />
	</div>

    <div id="PlotArea" style="position:relative;float:left;height:500px;width:700px;"></div>
</div>