<div class="person g-safeContext g-inlineBlock">
    <img class="person_img" src="#{if _member.getPhotoName().length() > 0} /../../public/images/${_member.getPhotoName()} #{/if}" width="120" height="120" />
    <div class="person_content">
        <p class="person_fio g-medium">${_member.getFullName()}</p>
        <p class="person_birth">${_member.getBirthday()}</p>
        <p class="person_mail">${_member.getEmail()}<ins class="person_mail_icon"></ins></p>
        <p class="person_status">${_member.getPost()}</p>
    </div>
</div>