#{extends 'master.html' /}
#{set title:'Overclocking Team' /}

#{set 'customStyles'}
    <link href="@{'public/stylesheets/page_team.css'}" rel="stylesheet" media="all" />
#{/set}

#{doBody}
    #{renderNavigation currentIdx:3 /}

    <div class="l-content l-content__oneCol g-rounded">
        <h1 class="g-primaryTitle">Our Team</h1>
        <div class="persons">
            #{list items: allMembers, as: 'member'}
                #{renderTeamMember member:member /}
            #{/list}
        </div>
        
        <h2 class="g-secondaryTitle">Publications<span class="publicationsIcon g-inlineBlock"></span></h2>
        <ul class="publications">
        	#{list items: allReferences, as: 'reference'}
                #{renderReference reference:reference /}
            #{/list}
        </ul>

        <h2 class="g-secondaryTitle">Acknowledgements</h2>
        <div class="g-text">
            <p>Overclocking team would like to thank our scientific advisor, professor Mikhail V. Volkov, for visionary leadership, critical notes and absolute supporting of our activity.</p>
            <p>Also we would like to thank Kristina Alexeeva for her goodwill to us and delicious prototype of this web service.</p>
        </div>
    </div>
#{/doBody}