#{extends 'master.html' /}
#{set title:'Overclocking' /}

#{doBody}
    #{renderNavigation currentIdx:0 /}

    <div class="l-content l-content__oneCol g-rounded">
        <div class="g-text">
            <h1 class="g-primaryTitle">Main Research Direction</h1>
            <p>Classic searching and compression algorithms are bring to perfection in the last century and it seems there is no actual research directions in this area. At the end of the twentieth century it arise idea of structured compressed data representations. Namely data compression considered as preprocessing (so we save storage space and gather a features of the data). As a result we have a compressed data representation that supports some searching queries. To this moment we have no information about practical usage of such data representations. Therefore our aim is to throw light upon this area.</p>
            <p>There are several types of compressed data representations that supports searching queries. By some reasons the most popular is a straight-line program (SLP). We start our research from investigating of  SLPs practical applicability. We would like to answer to the following questions: how hard to construct SLP for a particular text, how fast searching queries does SLPs support. The answer on the first question presented at Statistics section.</p>
            <!--<p><img class="g-text_imgFL" src="@{'/public/images/i.jpg'}" src="" /> данных (распаковкой, декомпрессией).</p>-->

            <h1 class="g-primaryTitle">Further Development</h1>
            <p>To extend texts collection and aggregate more representative compression statistics.</p>
            <p>To test SLP searching algorithms (Pattern Matching and Longest Common Substring) on practice.</p>
            <p>We are grateful and open to any ideas and feedback.</p>
        </div>
    </div>
#{/doBody}
