#{extends 'master.html' /}
#{set title:'Overclocking Stats Monitor' /}

#{doBody}
    <div class="l-content l-content__oneCol g-rounded">
        <h1 class="g-primaryTitle">Overclocking Stats (${appStats.machineName}, ${appStats.osName})</h1>
        <div class="g-text">
        	<p>
				<b>CPU</b> </br>
				Frequency: ${appStats.cpuStats.frequency.toString()} </br>
				Number: ${appStats.cpuStats.number.toString()} </br>
			</p>
			
			<p>
				<b>RAM</b> </br>
					Free: ${appStats.ramStats.freeSpace.toString()} </br>
					Total: ${appStats.ramStats.totalSpace.toString()} </br>
					% Free: ${appStats.ramStats.freeSpacePercent.toString()} </br>
			</p>
			
			<p>
				<b>Processes (${appStats.processStats.total})</b> </br>
					<table>
						<col width="5%">
						<col width="10%">
						<col width="10%">
						<col width="75%">
						<thead>
							<tr>
								<th>PId</th>
								<th>RAM Usage</th>
								<th>Name</th>
								<th>Command</th>
							</tr>
						</thead>
						#{list items: appStats.processStats.processes, as: 'process'}
							<tr>
								<td>${process.pId}</td>
								<td>${process.ramUsage}</td>
								<td>${process.name}</td>
								<td>${process.command}</td>
							</tr>
		            	#{/list}
					</table>
	        </p>
        </div>
    </div>
#{/doBody}