#{extends 'master.html' /}
#{set title:'Graphics' /}

#{set 'customScripts'}
<script type="text/javascript" src="@{'/public/javascripts/jquery.jqplot.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.canvasTextRenderer.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/plugins/jqplot.canvasAxisLabelRenderer.min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/GraphicsMaster.js'}"></script>
#{/set}

#{set 'customStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/jquery.jqplot.min.css'}"/>
    <link href="@{'/public/stylesheets/page_algorithmes.css'}" rel="stylesheet" media="all" />
#{/set}

#{doBody}
    #{renderNavigation currentIdx: 2 /}

    <div class="l-content l-content__oneCol g-rounded">
    
        <h1 class="g-primaryTitle">Compression Algorithms</h1>

        #{renderPlotControl allTypes: allTypes /}
	</div>

    <script type="text/javascript">
        $(document).ready(function () {
            var master = new GraphicsMaster();
        });
    </script>
#{/doBody}