#{extends 'master.html' /}
#{set title:'Overclocking' /}

#{set 'customStyles'}
<link href="@{'public/stylesheets/page_index.css'}" rel="stylesheet" media="all" />
#{/set}

#{doBody}
    <div class="indexText">
        <span class="l-logo l-logo__index g-inlineBlock">Overcl<img src="@{'/public/images/clock.png'}" width="32" height="32" />cking</span>
        <span class="g-large">presents <a class="mainRef g-lightLink g-inlineBlock" href="@{Statistics.run()}">extended statistics</a> about data compression algorithms</span>
        <a class="indexText_more g-lightLink" href="@{About.run()}">Learn&nbsp;more</a>
    </div>

    <div class="singularities g-safeContext g-large">
        <a href="" class="singularities_item g-inlineBlock g-lightLink">
            <div class="singularities_item_icon singularities_item_icon__research"></div>
            <p>open research</p>
        </a>
        <a href="http://code.google.com/p/overclocking/" class="singularities_item g-inlineBlock g-lightLink" target="_blank">
            <div class="singularities_item_icon singularities_item_icon__source"></div>
            <p>open source</p>
        </a>
        <a href="@{TextsStorage.run()}" class="singularities_item g-inlineBlock g-lightLink">
            <div class="singularities_item_icon singularities_item_icon__dataStorage"></div>
            <p>open data storage</p>
        </a>
        <ins class="singularities_forJustify g-inlineBlock"></ins>
    </div>
#{/doBody}
