/*[[ files */
.files {

    }
    .files_item {
        position: relative;
        padding: 0 0 0 21px;
        margin: 0 0 10px;
        }

        .files_item_icon {
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 0;
            left: 0;
            background: url('../images/file.png') 0 0 no-repeat;
            }
        .files_item_info {
            color: #9A8073;
            }
/* files ]]*/