body {
    behavior: url("css/csshover.htc");
}

.g-inlineBlock {
	display: inline;
	zoom: 1;
}

.g-safeContext {
	zoom: 1;
}

.g-newContext {
    display: block;
    zoom: 1;
}

/*.pseudolink {
	display: inline;
	zoom: 1;
}*/